.navbar {
  background-image: linear-gradient(var(--green), var(--blue));
  opacity: 0.98;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar.active {
  width: 100px;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 100;

  animation-name: displaceContent;
  animation-duration: 1ms;

  animation-fill-mode: forwards;
}
@keyframes displaceContent {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  } /* slide down to make room for advertisements */
}

.nav-menu {
  background-color: white;
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1ms;
}

.nav-menu.active {
  left: 0;
  transition: 1ms;
  z-index: 100;
}
