.navbar {
  background-color: #060b26;
  width: 100px;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar.active {
  background-color: #060b26;
  width: 100px;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;

  animation-name: displaceContent;
  animation-duration: 10ms;

  animation-fill-mode: forwards;
}
@keyframes displaceContent {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(250px);
  } /* slide down to make room for advertisements */
}

.nav-menu {
  background-color: white;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 10ms;
}
